:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}

input {
  text-overflow: ellipsis;
  overflow: hidden;
}

@font-face {
  font-display: swap;
  font-family: "Roboto-Bold";
  font-style: 700;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: 400;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "OpenSans-SemiBold";
  font-style: 600;
  font-weight: bold;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-style: 400;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "RobotoSlab";
  font-style: 300;
  font-weight: normal;
  src: url("../fonts/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab-Light.woff2") format("woff2");
}

html {
  height: 100%;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-family: "Roboto-Bold", sans-serif;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

h2 {
  font-family: "Roboto-Bold", sans-serif;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.ff-roboto-b {
  font-family: "Roboto-Bold", sans-serif;
}

.ff-roboto {
  font-family: "Roboto", sans-serif;
}

.ff-roboto-s {
  font-family: "RobotoSlab", sans-serif;
}

.ff-open-b {
  font-family: "OpenSans-SemiBold", sans-serif;
}

.ff-open {
  font-family: "OpenSans", sans-serif;
}

.container {
  padding: 0 25px;
}

@media (min-width: 1220px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.container-inner {
  padding: 0 1rem;
}

@media all and (min-width: 1220px) {
  .container-inner {
    padding: 0 calc(50% - 585px);
  }
}

.hide {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  padding-top: 55px;
  padding-bottom: 55px;
  font-family: "Roboto", sans-serif;
}

.page__hero + .page__box {
  margin-top: 80px;
}

.button {
  width: 100%;
  height: 70px;
  border: 0;
  font-size: 1rem;
  background-color: #3D3BFF;
  font-family: "OpenSans", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2422ff;
}

.input {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  font-size: 1rem;
  border: 2px solid #E6E8F0;
  color: #000;
}

.input::-moz-placeholder {
  color: #657195;
}

.input:-ms-input-placeholder {
  color: #657195;
}

.input::placeholder {
  color: #657195;
}

.check {
  display: flex;
  align-items: baseline;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: #657195;
  cursor: pointer;
}

.check__input:checked ~ .check__box .check__box-icon {
  display: block;
}

.check__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #E6E8F0;
}

.check__box-icon {
  display: none;
}

.check__box + .check__text {
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: #3D3BFF;
}

.link:hover {
  border-bottom: 1px solid #3D3BFF;
}

.form__group + .form__group {
  margin-top: 20px;
}

.form__check {
  margin-top: 20px;
}

.form__button {
  margin-top: 48px;
}

@media (min-width: 768px) {
  .form__button {
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form__check {
    order: 1;
    margin-top: 30px;
  }
  .form__button {
    margin-top: 20px;
  }
}

.hero__title {
  font-size: 38px;
  font-size: 2.375rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 45px;
    font-size: 2.8125rem;
  }
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 55px;
    font-size: 3.4375rem;
  }
}

.box__left {
  margin: 0 -25px;
}

.box__right {
  max-width: 464px;
  margin: 40px auto;
}

.box__title {
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 20px;
}

.box__info b {
  color: #3D3BFF;
}

.box__list + .box__list,
.box__list + .box__form {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .box__title {
    font-size: 38px;
    font-size: 2.375rem;
    text-align: center;
  }
  .box__left {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .box {
    display: flex;
    box-shadow: 0px 2px 24px rgba(168, 175, 196, 0.3);
    background-color: #FAFBFE;
  }
  .box__left, .box__right {
    flex: 1 0 50%;
    max-width: 50%;
  }
  .box__right {
    padding: 60px 85px;
  }
  .box__title {
    font-size: 34px;
    text-align: left;
  }
}

.benefits {
  background-color: #3D3BFF;
  padding-bottom: 40px;
}

.benefits__label {
  position: relative;
  top: -50px;
  width: 110px;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__price {
  color: #fff;
  text-align: center;
}

.benefits__price-name {
  letter-spacing: -0.5px;
}

.benefits__price-value {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "RobotoSlab", sans-serif;
  line-height: 1;
  letter-spacing: -2px;
}

.benefits__price-value svg {
  margin-left: 9px;
}

.benefits__price-item + .benefits__price-item {
  margin-top: 20px;
}

.benefits__price-full {
  opacity: .4;
}

.benefits__price-full .benefits__price-name {
  font-size: 1rem;
}

.benefits__price-full .benefits__price-value {
  position: relative;
  font-size: 36px;
  letter-spacing: -2px;
}

.benefits__price-full .benefits__price-value::before {
  position: absolute;
  top: 50%;
  right: -2px;
  left: -2px;
  transform: translateY(-50%);
  height: 2px;
  background-color: #fff;
  content: '';
}

.benefits__price-part, .benefits__price-limit {
  display: flex;
  flex-direction: column;
}

.benefits__price-part .benefits__price-value, .benefits__price-limit .benefits__price-value {
  order: -1;
}

.benefits__price-part .benefits__price-name {
  font-size: 18px;
}

.benefits__price-part .benefits__price-value {
  font-size: 56px;
}

.benefits__price-limit .benefits__price-value {
  font-size: 40px;
}

.benefits__label + .benefits__price {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .benefits {
    padding-bottom: 70px;
  }
  .benefits__price-item + .benefits__price-item {
    margin-top: 34px;
  }
  .benefits__price-full .benefits__price-value {
    font-size: 38px;
  }
  .benefits__price-part .benefits__price-name {
    font-size: 20px;
  }
  .benefits__price-part .benefits__price-value {
    font-size: 80px;
  }
  .benefits__price-limit .benefits__price-name {
    font-size: 18px;
  }
  .benefits__price-limit .benefits__price-value {
    font-size: 50px;
  }
  .benefits__label + .benefits__price {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .benefits {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .benefits__label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.label {
  position: relative;
  padding: 20px 0 5px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.label::after {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 55px 0 55px;
  border-color: #000 transparent transparent transparent;
  content: '';
}

.label__title {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.label__value, .label__descr {
  letter-spacing: -0.5px;
}

.label__value {
  font-size: 30px;
  line-height: 1;
}

.label__descr {
  font-size: 1rem;
  opacity: .7;
}

.label__title + .label__value {
  margin-top: 5px;
}

.label__value + .label__descr {
  margin-top: 3px;
}

.list {
  font-family: "OpenSans", sans-serif;
  color: #657195;
}

.list__item + .list__item {
  margin-top: 12px;
}

.list--marker .list__item {
  position: relative;
  padding-left: 22px;
}

.list--marker .list__item::before {
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #3D3BFF;
  content: '';
}

@media (min-width: 768px) {
  .list--info {
    display: flex;
    justify-content: center;
    margin: -25px;
  }
  .list--info .list__item {
    margin: 25px;
  }
}

@media (min-width: 1024px) {
  .list--info {
    justify-content: flex-start;
    margin: -17px;
    font-size: 20px;
  }
  .list--info .list__item {
    margin: 17px;
  }
}

/*# sourceMappingURL=style.css.map */
